<header>
    <div>

        <nav>


            <a class="header-logo" href=""><svg class="mob-icon-svg" id="icon-burger-fat" width="24" height="24">
                    <use href="http://www.w3.org/2000/svg#icon-burger-fat"></use>
                </svg>green.harvest</a>


            <div>
                <ul class="header-ul">
                    <li class="header-li">
                        <a class="header-a">How It Works</a>
                    </li>
                    <li class="header-a">
                        <a class="info" href="">Vegetables</a>
                    </li>
                    <li class="header-a">
                        <a class="info" href="">Reviews</a>
                    </li>
                </ul>

        </nav>





        <button class="button-style" type="button">Shop now</button>
    </div>






    </div>
</header>