<section class="hero-section" id="hero">
  <div class="hero-container">
    <div
      class="hero-container-div"
      data-aos="fade-down-right"
      data-aos-delay="300"
      data-aos-duration="2000"
      data-aos-easing="ease-in-out"
    >
      <h1 class="hero-title">organic vegetables to your diet today!</h1>

      <p class="hero-text">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </div>
    <div
      class="images-container"
      data-aos="fade-down-left"
      data-aos-delay="300"
      data-aos-duration="2000"
      data-aos-easing="ease-in-out"
    ></div>
  </div>
</section>
