<section class="hero-section" id="hero">
  <div class="hero-container">
    <h1 class="hero-title">organic vegetables to your diet today!</h1>

    <p class="hero-text">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>
  </div>
  <div
    class="images-container"
    style="background-image: url(./img/vegetable2x.jpg)"
  >
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="./img/vegetable.jpg 1x, ./img/vegetable2x.jpg 2x"
        srcset="./img/v"
      />
      <source
        media="(min-width: 768px)"
        srcset="./img/vegetable-tab.jpg 1x, ./img/vegetable-tab2x.jpg 2x"
      />
      <source
        media="(min-width: 320px and max-width: 767px)"
        srcset="./img/vegetable-mob.jpg 1x, ./img/vegetable-mob2x.jpg 2x"
      />
      <img src="./img/vegetable2x.jpg" alt="vegetable" class="hero-images" />
    </picture>
  </div>
</section>
