<section class="how-it-works" id="how-it-works">
    <div class="container container-how-it-works">
        <h2 class="visually-hidden">How it works</h2>
        <div class="container-img-howitworks">
            <div class="gradient-hiw">
                <picture>
                    <source srcset="/img/how-it-works-desk.jpg 1x, /img/how-it-works-2xdesk.jpg 2x"
                        media="(min-width: 1280px)">
                    <source srcset="/img/how-it-works-tab.jpg 1x, /img/how-it-works-2xtab.jpg 2x"
                        media="(min-width: 768px)">
                    <source srcset="/img/how-it-works-mob.jpg 1x, /img/how-it-works-2xmob.jpg 2x"
                        media="(min-width: 320px) and (max-width: 375px)">
                    <img class="img-howitworks" src="/img/how-it-works-desk.jpg" alt="a woman is chopping a fruits"
                        width="430" />
                </picture>
            </div>
        </div>
        <div class="container-make-order">
            <p class="title-howitworks">To order your <span class="accent-hiw">vegetable </span> basket, simply follow
                these
                <span class="accent-hiw">easy steps</span>
            </p>
            <p class="descr-howitworks">Our baskets are assembled with care and delivered straight to your doorstep,
                so you can enjoy the taste of fresh fruit
                without ever leaving your home.</p>
            <ol class="list-hiw">
                <li class="item-hiw">
                    <p class="text-instruction-hiw">Just choose <span class="accent-item-hiw">the vegetable
                        </span> you
                        want to order by clicking on the checkboxes<span class="accent-item-hiw"> next to it.</span></p>
                </li>
                <li class="item-hiw">
                    <p class="text-instruction-hiw texr-instr-second">Click on <span class="accent-item-hiw">the
                            basket</span>
                        and fill out the form.</p>
                </li>
                <li class="item-hiw">
                    <p class="text-instruction-hiw text-instr-third">Sit back and relax! Your
                        <span class="accent-item-hiw">fresh vegetables </span>basket will be delivered.</span>
                    </p>
                </li>
            </ol>
        </div>
    </div>
</section>