<section class="review-section" id="reviews">
  <div class="container">
    <div class="review-title">
      <h2 class="review-name">
        reviews from our <span class="review-name-part">customers</span>
      </h2>
      <p class="review-text">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>

    <ul class="review-list">
      <li class="review-card one">
        <img
          class="review-picture"
          srcset="/img/john_wax-min.jpg 1x, /img/john_wax_2x-min.jpg 2x"
          src="/img/john_wax-min.jpg"
          alt="gray haired man"
          width="56"
        />
        <div class="review-content-text">
          <h3 class="review-card-title">John Wax</h3>
          <p class="review-card-text">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </div>
      </li>
      <li class="review-card two">
        <img
          class="review-picture"
          srcset="
            /img/victoria_romashenko-min.jpg    1x,
            /img/victoria_romashenko_2x-min.jpg 2x
          "
          src="/img/victoria_romashenko-min.jpg"
          alt="blond haired woman"
          width="56"
        />
        <div class="review-content-text">
          <h3 class="review-card-title">Victoria Romashenko</h3>
          <p class="review-card-text">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </div>
      </li>
      <li class="review-card three">
        <img
          class="review-picture"
          srcset="/img/ihor_trachuk-min.jpg 1x, /img/ihor_trachuk_2x-min.jpg 2x"
          src="/img/ihor_trachuk-min.jpg"
          alt="fair haired man"
          width="56"
        />
        <div class="review-content-text">
          <h3 class="review-card-title">Ihor Trachuk</h3>
          <p class="review-card-text">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
