<section class="section-vegetable">
    <div class="container">
        <div class="vegetable-title">
            <h2 class="vegetable-title-subheading">organic <span>vegetables</span></h2>
            <p class="vegetable-title-paragraph">Our organic vegetables are hand-picked from local farms and delivered
                straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
        </div>
        <ul class="products-vegetable-list">
            <li class="products-vegetable-item">
                <h3 class="products-vegetable-heading">eggplant</h3>
                <p class="products-vegetable-paragraph">60 uah / kg</p>
                <img class="products-vegetable-img" srcset="/img/eggplant-min.png 1x, /img/eggplant_2x-min.png 2x"
                    src="/img/eggplant-min.png" alt="Photo with three eggplants" width="282" height="243">
            </li>
            <li class="products-vegetable-item">
                <h3 class="products-vegetable-heading">leek</h3>
                <p class="products-vegetable-paragraph">50 uah / kg</p>
                <img class="products-vegetable-img" srcset="/img/leek-min.png 1x, /img/leek_2x-min.png 2x"
                    src="/img/leek-min.png" alt="Photo of leeks" width="282" height="243">
            </li>
            <li class="products-vegetable-item">
                <h3 class="products-vegetable-heading">mushrooms</h3>
                <p class="products-vegetable-paragraph">40 uah / kg</p>
                <img class="products-vegetable-img" srcset="/img/mushrooms-min.png 1x, /img/mushrooms_2x-min.png 2x"
                    src="/img/mushrooms-min.png" alt="Photo with a bunch of mushrooms" width="282" height="243">
            </li>
            <li class="products-vegetable-item">
                <h3 class="products-vegetable-heading">corn</h3>
                <p class="products-vegetable-paragraph">60 uah / kg</p>
                <img class="products-vegetable-img" srcset="/img/corn-min.png 1x, /img/corn_2x-min.png 2x"
                    src="/img/corn-min.png" alt="Photo with two corns" width="282" height="243">
            </li>
            <li class="products-vegetable-item">
                <h3 class="products-vegetable-heading">sweet potatoes</h3>
                <p class="products-vegetable-paragraph">50 uah / kg</p>
                <img class="products-vegetable-img"
                    srcset="/img/sweet_potatoes-min.png 1x, /img/sweet_potatoes_2x-min.png 2x"
                    src="/img/sweet_potatoes-min.png" alt="Photo with one whole and one sliced ​​sweet potato"
                    width="282" height="243">
            </li>
            <li class="products-vegetable-item">
                <h3 class="products-vegetable-heading">carrot</h3>
                <p class="products-vegetable-paragraph">40 uah / kg</p>
                <img class="products-vegetable-img" srcset="/img/carrot-min.png 1x, /img/carrot_2x-min.png 2x"
                    src="/img/carrot-min.png" alt="Photo with a bunch of carrots" width="282" height="243">
            </li>
        </ul>
    </div>
</section>