<section class="your_order_section" id="your_order_section">
    <div class="container your_order_container">
        <div class="first_part_container">
            <h2 class="your_order_heading">Fresh <span class="harvest_span">Harvest</span> Box has got you covered</h2>
            <p class="your_order_paragraf">Our boxes are packed with delicious, nutritious vegetables, perfect for
                anyone looking to eat healthier or support local
                farmers. Order your box today and start enjoying the best that nature has to offer!</p>
        </div>
        <ul class="div-list">
            <li class="div-items">
                <div class="content-container white">
                    <p class="form_paragraf">Ordering <span class="from_us_span">from us</span> is quick and easy! Fill
                        out <span class="the_form_span">the form</span> below and we will
                        contact you !</p>
                    <form class="your_order_form">
                        <div class="input_container">
                            <input type="text" name="full_name" class="your_order_input"
                                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Full Name"
                                required>
                        </div>
                        <div class="input_container">
                            <input type="email" name="email" class="your_order_input"
                                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Email" required>
                            <p class="text-valid">Succes!</p>
                            <p class="text-invalid">Invalid email, try again</p>
                        </div>
                        <div class="text_area_container">
                            <textarea class="your_order_textarea" name="comment" id="comment"
                                placeholder="Comment"></textarea>
                        </div>
                        <button class="your_order_button" type="submit">Send</button>
                    </form>
                </div>
            </li>
            <li class="div-items">
                <div class="content-container green">
                    <div class="picture_container">
                        <picture class="your_order_picture">
                            <source media="(max-width: 767px )" type="image/jpeg"
                                srcset="./img/squezzing_lemon_mobile.jpg 1x, ./img/squezzing_lemon_mobile_2x.jpg 2x" />
                            <source media="(min-width: 768px )" type="image/jpeg"
                                srcset="./img/squezzing_lemon_tablet.jpg 1x, ./img/squezzing_lemon_tablet_2x.jpg 2x" />
                            <source media="(min-width: 1280px )" type="image/jpeg"
                                srcset="./img/squezzing_lemon_desktop.jpg 1x, ./img/squezzing_lemon_desktop_2x.jpg 2x" />
                            <img src="./img/squezzing_lemon_desktop.jpg" alt="Online Courses" loading="lazy"
                                width="528" />
                        </picture>
                    </div>
                    <p class="socials_paragraf">Follow us on our social networks:</p>
                    <ul class="social_list">
                        <li class="social_items"><a href="https://www.instagram.com/goitclub/"
                                class="social_links">instagram</a></li>
                        <li class="social_items">/</li>
                        <li class="social_items"><a href="https://www.facebook.com/goITclub/"
                                class="social_links">facebook</a></li>
                        <li class="social_items">/</li>
                        <li class="social_items"><a href="https://www.youtube.com/c/GoIT"
                                class="social_links">youtube</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>