.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.foursome-section {
  padding-top: 80px;
  padding-bottom: 80px;
}


.container-text-first {
  display: inline-block;
  max-width: 355px;
  height: 102px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
  font-family: Inter Tight;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  background-color: #576f35;
  color: #fbfbfb;
  border-radius: 12px;
  text-align: left;
}

.container-text-last {
  display: inline-block;
  max-width: 335px;
  height: 204px;
  font-family: Inter Tight;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .foursome-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }


  .container-text-first {
    max-width: 736px;
    height: 86px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 46px;
    font-family: Inter Tight;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.09;
    letter-spacing: -0.015em;
  }

  .container-text-last {
    max-width: 704px;
    height: 198px;
    font-family: Inter Tight;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.09;
    letter-spacing: -0.015em;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .container-text-first {
    max-width: 850px;
    font-family: Inter Tight;
    font-size: 76px;
    font-weight: 600;
    padding-top: 0;
    padding-left: 13px;
    padding-right: 13px;
    line-height: 1.05;
    letter-spacing: -0.015em;
  }

  .container-text-last {
    display: inline;
    max-width: 1054px;
    height: 240px;
    font-family: Inter Tight;
    font-size: 76px;
    font-weight: 700;
    padding-left: 15px;
    line-height: 1.05;
    letter-spacing: -0.015em;
  }
}