.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #576f35;
    padding-top: 100px;
}

@media screen and (min-width: 768px) {
    .hero-section {
        gap: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-section {
        display: inline-flex;
        padding-left: 100px;
        justify-content: center;
        align-items: flex-end;
        gap: 28px;
        flex-direction: row;
        padding-top: 0;
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .hero-container {
        width: 100%;
        gap: 25px;
        padding: 62px 32px 0px 32px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-container {
        width: 100%;
        display: flex;
        padding-bottom: 50px;
        flex-direction: column;
        align-items: flex-start;
        gap: 128px;
    }
}
.hero-title {
    width: 335px;
    color: #FBFBFB;
    ;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Inter Tight", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .hero-title {
        width: 704px;
        font-size: 76px;
        line-height: 76px;
        letter-spacing: -1.14px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-title {
        width: 502px;
    }
}

.hero-text {
    width: 335px;
    color: #FBFBFB;
    font-family: "Inter Tight", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

@media screen and (min-width: 768px) {
    .hero-text {
        width: 603px;
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-text {
        width: 427px;
    }
}
