.hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #576f35;

}

@media screen and (min-width: 768px) {
    .hero-section {

    }
}

@media screen and (min-width: 1280px) {
    .hero-section {
        display:inline-flex;
        justify-content: center;
        align-items: flex-end;
        gap: 28px;
        flex-direction: row;
    }
}
.hero-container{
    max-width: 375px;


}@media screen and (min-width: 768px) {
    .hero-container {
        max-width: 768px;

}}
@media screen and (min-width: 1280px) {
    .hero-container {
        max-width: 1280px;
        display: flex;
}}

.hero-container-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 40px;
    padding-top: 0;
}
@media screen and (min-width: 768px) {
    .hero-container-div {
        padding-top: 0;
    }

}
@media screen and (min-width: 1280px) {
    .hero-container-div {
        padding-right: 0;
        padding-top: 253px;
        gap: 154px;
    }

}
.hero-title {
    max-width: 335px;
    color: #FBFBFB;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Inter Tight", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .hero-title {
        max-width: 704px;
        font-size: 76px;
        line-height: 76px;
        letter-spacing: -1.14px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-title {
        max-width: 502px;
    }
}

.hero-text {
    max-width: 335px;
    color: #FBFBFB;
    font-family: "Inter Tight", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}
@media screen and (min-width: 768px) {
    .hero-text {
        max-width: 603px;
        font-size: 16px;
        line-height: 20px;
    }
}
@media screen and (min-width: 1280px) {
    .hero-text {
        max-width: 427px;
    }
}

.images-container{
    background-image: linear-gradient( rgba(20, 20, 20, 0.20), rgba(20, 20, 20, 0.20)), url(/img/vegetable-mob.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding: 185px 0;
}

@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx){.images-container {
        background-image: url(/img/vegetable-mob2x.jpg);
}
}
@media screen and (min-width: 768px) {
    .images-container {
        background-image:
            url(/img/vegetable-tab.jpg);
        max-width: 768px;
        padding: 270px 0;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .images-container {
            background-image: 
                url(/img/vegetable-tab2x.jpg);
        }
    }
}

@media screen and (min-width: 1280px) {
    .images-container {
        width: 650px;
        height: 800px;
        background-image: url(/img/vegetable.jpg);
        max-width: none;
        background-size: cover;
        background-origin: padding-box;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .images-container {
            background-image:    url(/img//vegetable2x.jpg);
        }
    }
}