.how-it-works {
  background: linear-gradient(
    to bottom,
    #7a3145 0% 46.14%,
    #576f35 46.14% 100%
  );
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-img-howitworks {
  padding-top: 40px;
  padding-bottom: 40px;
}

.img-howitworks {
  border-radius: 30px;
}

.container-make-order {
  max-width: 335px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.title-howitworks {
  color: #fbfbfb;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.accent-hiw {
  color: rgba(251, 251, 251, 0.3);
}

.descr-howitworks {
  font-family: 'Inter Tight', sans-serif;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 40px;
}

.list-hiw {
  margin: 0 auto;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  counter-reset: 0;
}

.item-hiw {
  background-color: #fbfbfb;
  border-radius: 15px;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  counter-increment: number;
}

.item-hiw::before {
  content: counter(number);
  width: 52px;
  height: 52px;
  background-color: #7a3145;
  border-radius: 50%;
  border: 5px solid #d3bec4;
  flex-shrink: 0;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.text-instruction-hiw {
  font-family: 'Inter Tight', sans-serif;
  color: rgba(20, 20, 20, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.texr-instr-second {
  font-family: inherit;
}

.accent-item-hiw {
  color: #141414;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .container-how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .how-it-works {
    background: linear-gradient(
      to bottom,
      #7a3145 0% 55.5%,
      #576f35 55.5% 100%
    );
  }

  .container-img-howitworks {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .img-howitworks {
    width: 640px;
  }

  .container-make-order {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 450px;
  }

  .title-howitworks {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .descr-howitworks {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
  }
  .text-instruction-hiw {
    font-size: 16px;
    line-height: 1.25;
  }

  .text-instr-third {
    font-family: inherit;
  }
}

@media screen and (min-width: 1280px) {
  .container-how-it-works {
    align-items: normal;
  }

  .how-it-works {
    background: linear-gradient(to right, #7a3145 0% 50%, #576f35 50% 100%);
  }

  .container-how-it-works {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }

  .container-make-order {
    padding-top: 100;
  }

  .img-howitworks {
    width: 430px;
    height: 559px;
  }
  .text-instruction-hiw {
    width: 323px;
  }
}
