.review-section {
    padding: 80px 0;
    flex-direction: column;
    align-items: center;
    background: #FBFBFB;
    margin: 0 auto;
}
.container {

}
.review-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 335px;
    margin-bottom: 40px;
}
.review-name {
    color: #141414;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
}

.review-name-part {
    color: #576F35;

}


.review-text {
    color: #141414;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;

}


.review-card {
  
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 20px 16px;
    border-radius: 24px;
    border: 1px solid rgba(122, 49, 69, 0.30);
    background: #FBFBFB;
    max-width: 335px;
    height: 238px;
}

.two {
    display: none;
    
}

.three {
    display: none;
}

.review-picture {
    width: 56px;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 24px;

   
}

.review-content-text {
    max-width: 302px;
    align-items: center;
    gap: 8px;

}

.review-card-title {
    color: #040306;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin-bottom: 8px;

}

.review-card-text {
color: rgba(4, 3, 6, 0.40);
text-align: center;
font-size: 14px;
font-weight: 500;
line-height: 1.28;


}
/* tablet */
@media screen and (min-width: 768px) {
.review-section {
    padding: 100px 0;
    }
.container {
    padding-left: 32px;
    padding-right: 32px;
}
 .review-title {
        gap: 25px;
        width: 553px;
        margin-bottom: 50px;
 } 
 
 .review-name {
        font-size: 64px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.01em;
        
 }
.review-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
}
.review-list {
    display: flex;
    flex-direction: row;
    gap: 18px;
}
.review-card {
    width: 343px;
    height: 258px;
    padding: 20px;
    width: calc((100% - 18px) / 2);
    
}
.two {
    display: block;
}

.review-card-title {
    color: #141414;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
}
.review-card-text {
    color: rgba(20, 20, 20, 0.40);
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;

}

} 
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
    }
.review-list {
    gap: 25px;
}
.review-card {
    width: calc((100% - 50px) / 3);
}
.three {
    display: block;
}

}

