/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./adv_partials.css');
@import url('./footer_partials.css');
@import url('./header_partials.css');
@import url('./hero_partials.css');
@import url('./how_it_works_partials.css');
@import url('./reviews_partials.css');
@import url('./vegetable_partials.css');
@import url('./your_order_partials.css');
/* @import url('./vite-promo.css'); */
/* @import url('./header.css'); */

:root {
  --text: #141414;
  --background: #576f35;
  --background-2: #7a3145;
  --main-text: #fbfbfb;
  --font-family: "Inter Tight", sans-serif;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}