.section-vegetable {
    font-family: var(--font-family);
    background-color: var(--background-2);
    padding: 80px 0;
}

.vegetable-title {
    color: var(--main-text);
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 375px;
}

.vegetable-title-subheading {
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.vegetable-title-subheading span {
    opacity: .3;
}

.vegetable-title-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
}

.products-vegetable-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.products-vegetable-item {
    background-color: var(--main-text);
    border-radius: 40px;
    padding: 32px 26px;
}

.products-vegetable-heading {
    color: var(--background-2);
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    margin-bottom: 12px;
}

.products-vegetable-paragraph {
    color: var(--text);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 14px;
}


@media screen and (min-width: 768px) {
    .section-vegetable {
        padding: 100px 0;
    }

    .section-vegetable .container {
        width: 768px;
    }

    .vegetable-title {
        margin: 0 0 50px 0;
        max-width: 626px;
    }

    .vegetable-title-subheading {
        font-size: 64px;
        margin-bottom: 25px;
    }

    .products-vegetable-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 28px 20px;
    }

    .products-vegetable-item {
        width: calc((100% - 20px) / 2);
        padding: 32px 30px;
    }

    .products-vegetable-heading {
        font-size: 32px;
    }

    .products-vegetable-paragraph {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .section-vegetable .container {
        width: 1280px;
    }

    .products-vegetable-item {
        width: calc((100% - 2 * 20px) / 3);
    }
}