.your_order_section {
  background-color: #7a3145;
  font-family: var(--font-family);
  padding: 80px 20px;
  display: flex;
}

.your_order_container {
  margin: 0 auto;
}

.first_part_container {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-bottom: 40px;
}

.your_order_input {
  width: 400px;
  height: 50px;
  padding: 0 20px;
  border: 1px solid gray;
  border-radius: 30px;

  outline: none;
}

.your_order_heading {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 104%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--main-text);
}

.harvest_span {
  color: rgba(251, 251, 251, 0.3);
}

.your_order_paragraf {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: var(--main-text);
}

.div-items {
  max-width: 335px;
}

.div-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-container {
  border-radius: 30px;

  height: auto;
}

.white {
  background-color: #fbfbfb;
  padding: 40px 20px;
}

.green {
  background-color: #576f35;
  padding: 40px 20px;
}

.form_paragraf {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 40px;
}

.from_us_span {
  color: var(--background-2);
}

.the_form_span {
  color: var(--background);
}

.input_container {
  margin-bottom: 15px;
}

.your_order_input {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  width: 100%;
  height: 46px;
}

.your_order_input::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--text);
}

.text_area_container {
  margin-bottom: 20px;
}

.your_order_textarea {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 15px;
  width: 100%;
  height: 91px;
  padding: 14px 16px;
}

.your_order_textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--text);
}

.your_order_button {
  border-radius: 30px;
  border: none;
  width: 100%;
  height: 50px;
  background: var(--background);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--main-text);
}

.your_order_button:hover {
  transition: all 0.3s linear;
  background-color: #006400;
}

.your_order_button:focus {
  transition: all 0.3s linear;
  color: #006400;
}

.picture_img {
  width: 100%;
  border-radius: 15px;
}

.gradient {
  display: block;
  position: relative;
  line-height: 0;
}

.gradient::after {
  border-radius: 15px;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    rgba(20, 20, 20, 0.3),
    rgba(20, 20, 20, 0.3),
    rgba(20, 20, 20, 0.3)
  );
}

.socials_paragraf {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  margin: 20px 0 14px 0;
}

.social_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.social_items {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -0.01em;
  color: var(--main-text);
}

.social_links {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -0.01em;
  color: var(--main-text);
}

/* стилізація плейсхолдера */
.your_order_input::placeholder {
  color: black;
}

/* стилізація інпута в стані фокус */
.your_order_input:focus {
  border-color: brown;
}

/* стилізація інпута при не валідному значенні */
.your_order_input:not(:placeholder-shown):invalid {
  border-color: red;
}
/* стилізація інпута при валідному значенні */
.your_order_input:not(:placeholder-shown):valid {
  border-color: green;
}

.text-valid,
.text-invalid {
  font-size: 14px;
  padding-left: 20px;
  margin-top: 4px;
  display: none;
}

.text-valid {
  color: green;
}

.text-invalid {
  color: red;
}

/* стилізація інформаційного текста при валідному значенні в інпуті */
.your_order_input:not(:placeholder-shown):valid ~ .text-valid {
  display: block;
}

/* стилізація інформаційного текста при не валідному значенні в інпуті */
.your_order_input:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}

.your_order_textarea {
  resize: none;
}

@media screen and (min-width: 768px) {
  .your_order_container {
    padding: 0 !important;
  }

  .your_order_section {
    padding: 100px 0;
  }

  .first_part_container {
    max-width: 640px;
  }

  .your_order_heading {
    font-size: 64px;
    line-height: 100%;
  }

  .your_order_paragraf {
    font-size: 16px;
    line-height: 125%;
  }

  .div-list {
    margin: 0 38px;
    gap: 25px;
  }

  .div-items {
    max-width: 628px;
  }

  .content-container {
    max-width: 628px;
  }

  .white {
    padding: 50px 100px;
  }

  .green {
    padding: 50px;
  }

  .input_container {
    border-radius: 30px;
    width: 100%;
    height: auto;
  }

  .your_order_input {
    padding: 16px 16px;
    height: 52px;
  }

  .your_order_input::placeholder {
    font-size: 16px;
    line-height: 125%;
  }

  .your_order_textarea {
    padding: 16px 16px;
    height: 95px;
  }

  .your_order_button {
    height: 52px;
  }

  .picture_img {
    border-radius: 18px;
  }

  .form_paragraf {
    margin-bottom: 50px;
  }

  .socials_paragraf {
    font-size: 18px;
    line-height: 111%;
    margin: 50px 0 15px 0;
  }

  .social_items {
    font-size: 32px;
    line-height: 100%;
  }

  .social_links {
    font-size: 32px;
    line-height: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .your_order_container {
    padding: 0 !important;
  }

  .first_part_container {
    max-width: 751px;
  }

  .div-list {
    flex-direction: row;
    gap: 24px;
    margin: 0;
  }

  .div-items {
    max-width: 529px;
  }

  .white,
  .green {
    padding: 50px;
    width: calc((100%-24px) / 2);
  }

  .green {
    height: 100%;
  }
}
